:root {
  --red: rgb(253 74 113);
  --dark: black;
  --container: #efefef;
  --whitetext: white;
  --
}

* {
  margin: 0;
  top: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(3, 1fr) 48px;
  grid-template-rows: auto;
  /* grid: 'header'auto 'nav'auto 'main'1fr 'footer'auto / 1fr; */
  grid-template-areas:
    ". header nav ."
    ". main main ."
    ". main main ."
    "aside main main ."
    "footer footer footer footer";
}

body {
  background: var(--red);
}

h1,
.btn {
  color: var(--whitetext);
}

header {
  grid-area: header;
}

header h1 {
  font-family: "Lobster";
}

nav {
  grid-area: nav;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
ul {
  display: flex;
  padding-inline-start: 0;
  width: 100%;
  justify-content: space-between;
}
nav li {
  list-style: none;
}

.btn {
  text-decoration: none;
}

aside {
  grid-area: aside;
}

aside h2 {
  transform: rotate(-90deg);
}

main {
  grid-area: main;
  overflow: scroll;
  height: 100%;
  align-items: center;
  border-radius: 25px;
}

footer {
  grid-area: footer;
}

header,
nav,
aside,
main,
footer {
  /* background: var(--dark); */
  /* padding: 2em; */
}

.container {
}

.main-title,
.main-content {
  background: var(--container);
  padding: 12px;
}

.main-content {
  display: grid;
  margin-bottom: 2em;
  grid-template-columns: repeat(3, 1fr);
  word-wrap: normal;
  grid-gap: 12px;
}

a img {

  max-width: 100%;
  margin-bottom: 2em;
  border-radius: 7px;
}


@media screen and (max-width:760px){
  .main-content {
    grid-template-columns: repeat(2, 1fr);
  }
}