:root {
    --red: red;
    --background: white;
    --container: yellow;
}

body {
    min-height: 100vh;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 0.25fr auto;
    grid-template-rows: auto;
    /* grid: 'header'auto 'nav'auto 'main'1fr 'footer'auto / 1fr; */
    grid-template-areas:
        ' . header'
        'nav main '
        'aside main'
        'footer footer';
}

body {
    background: var(--red);
}

header {
    grid-area: header;
    justify-self: start;
}

.nav-title {
    justify-self: start;
    text-align: left;
}

header h1 {
    font-family: 'Lobster';
    justify-self: start;
    text-align: left;
}

nav {
    grid-area: nav;

}

nav li {
    list-style: none;
}

.btn {
    text-decoration: none;
}

aside {
    grid-area: aside;
}

aside h2 {
    transform: rotate(-90deg);
}

main {
    grid-area: main;

}

footer {
    grid-area: footer;
}

header,
nav,
aside,
main,
footer {
    background: var(--background);
    padding: 2em;
}



.container {
    min-height: 100vh;
    display: grid;
    grid-gap: 2em;
    /* grid-template-columns: 0.25fr auto 1fr; */
    /* grid-template-rows: auto; */
}

.main-title,
.main-content {
    background: var(--container);
    padding: 2em;
}

.main-content {
    margin-bottom: 2em;
}

a img {
    max-width: 100%;
    margin-bottom: 2em;
    border-radius: 7px;
}


@media screen and (min-width:576px) {
    body {
        grid-template-columns: 0.25fr auto 1fr;
        grid-template-areas:
            '. header nav'
            'aside main main'
            'aside main main'
            'footer footer footer';
    }
}