:root {
  /* colors */
  --clr-bg-light: hsl(0, 0%, 100%);
  --clr-gradient: linear-gradient(90deg, hsl(246, 30%, 55%) 3.65%, hsl(199, 76%, 48%) 71.35%, hsl(191, 46%, 55%) 100%);
  --clr-secondary-light: hsl(191, 46%, 55%);
  --clr-secondary-medium: hsl(199, 76%, 48%);
  --clr-secondary-dark: hsl(246, 30%, 55%);
  --clr-primary-100: hsl(210, 48%, 61%);
  --clr-primary-400: hsl(0, 0%, 47%);

  /* fonts */
  --f-primary: "Poppins";
}

/* general */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--f-primary);
}
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.grid {
  display: grid;
  gap: var(--gap, 1rem);
}
body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}
button {
  border: 0;
  background: none;
}

figure {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
  width: 40px;
}

/* primary header */
.primary-header {
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--clr-bg-light);
  box-shadow: -11px 11px 20px 0px black;
  height: 100%;

  /* inset: 0 80% 0 0; this is to say 0 top 75% from the right 0 bottom and left */
  padding: 0.575rem 1rem;
  width: 5em;
  transition: all ease 500ms;
  z-index: 1000;
}

/* when sidebar active / open we want that ... */
.primary-header.active {
  width: 15em;
}

.primary-header .logo-content {
  position: relative;
  align-items: center;
  height: 5rem;
  justify-content: center;
}

.primary-header .logo-content .svg-container-little,
.primary-header .logo-content .logo-name {
  display: none;
  transition: all 0.5s ease;
  /* pointer-events: none; */
}

.primary-header .logo-content .svg-container-little {
  fill: var(--clr-secondary-dark);
  width: 2rem;
}

.primary-header .logo-content .logo-name {
  color: var(--clr-secondary-dark);
}

.primary-header.active .logo-content .svg-container-little,
.primary-header.active .logo-content .logo-name {
  display: inline-block;
}

.primary-header .logo-content img {
  width: 30px;
  margin: 1rem;
}

.primary-header .logo-content .logo-name {
  font-weight: 900;
}

.primary-header.active li .tooltip {
  display: none;
}

.primary-header .nav-toggle::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0c9";
}

.primary-header .logo-content .nav-toggle {
  /* position: absolute;
  top: 50%;
  right: 0;
  left: 0; 
  transform: translateY(-50%);*/
  font-size: 1.25em;
  z-index: 9999;
  color: var(--clr-primary-100);
  transition: all 0.5s ease;

  /* width: 2rem;
  aspect-ratio: 1; */
  text-align: center;
  /* line-height: 50px; */

  cursor: pointer;
}

.primary-header.active .logo-content .nav-toggle {
  margin-left: 20%;
}

.primary-header .primary-navigation {
  z-index: 100;
  height: 100%;
  flex-direction: column;
  --gap: 2rem;
  list-style: none;
  margin-top: 1.25em;
}

.primary-header .primary-navigation li {
  position: relative;
  height: 3.125em;
  width: 100%;
  margin: 0.4rem 0;
}

.primary-header.active ul li .tooltip {
  display: none;
}

.primary-header .primary-navigation li .tooltip {
  background-color: #fff;
  position: absolute;
  top: -2rem;
  left: calc(100% + 1.5rem);
  transform: translateY(-50%);
  height: 2rem;
  width: calc(100% + 6rem);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.375em;
  line-height: 2rem;
  text-align: center;
  color: var(--clr-primary-100);
  opacity: 0;
  transition: 0s;
  pointer-events: none;
  display: block;
}

.primary-header .primary-navigation li:hover .tooltip {
  top: 50%;
  opacity: 1;
  transition: all 500ms ease;
}

.primary-header .primary-navigation li a {
  color: var(--clr-primary-100);
  text-decoration: none;
  align-items: center;
  transition: all 500ms ease;
  border-radius: 0.6rem;
  font-weight: 600;
  white-space: nowrap;

  --gap: 1rem;
}

.primary-header .primary-navigation a:hover {
  color: #fff;
  background: var(--clr-primary-100);
}

.primary-header.active .primary-navigation li span {
  opacity: 1;
}
.primary-header .primary-navigation li span {
  opacity: 0;
}

.primary-navigation .icon::before {
  height: 3.125em;
  min-width: 3.125em;
  line-height: 3.125em;
  border-radius: 12px;
  text-align: center;
}
.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.accueil::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f015";
}
.profil::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f007";
}
.galerie::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f302";
}
.contact::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0e0";
}

.primary-header .primary-navigation li span[text] {
  opacity: 0;
}

/* bottom content of the navigation sidebar */
.primary-header.active .profile-content hr {
  opacity: 1;
  width: 100%;
  margin-bottom: 1rem;
}
hr {
  opacity: 0;
}

.primary-header .profile-content {
  position: relative;
  align-items: center;
  height: 5rem;
  justify-content: center;
  align-self: baseline;

  /* color: var(--clr-primary-400);
  width: 100%; */

  /* padding: 1rem 1.375rem; check padding on .profile something not right ? */
  /* background-color: var(--clr-bg-light);
  --gap: 1rem; */
}

.primary-header.active .profile-content .name {
  opacity: 1;
}

.profile-content .profile-photo img {
  width: clamp(3rem, 3vw, 3rem);
  object-fit: cover;
  border-radius: 12px;
  border: var(--clr-secondary-dark) solid 2px;
}

.primary-header.active .profile-content .profile-photo img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.profile-content .name {
  /* margin-left: 1em; */
  font-size: 0.9em;
  font-weight: 600;
  opacity: 0;
  line-height: 1px;
  transition: opacity 3s;
}

.primary-main {
  min-height: 100vh;
  position: relative;
  align-items: center;
  background-color: var(--clr-bg-light);
  width: calc(100% - 5em);
  left: 5em;
  top: 0;
  z-index: 2;
  transition: all ease 500ms;
}
.primary-header.active ~ .primary-main {
  left: 15em;
  width: calc(100% - 15em);
}

/* .primary-header.active ~ .primary-main .svg-container-bigger {
  fill: var(--clr-secondary-dark);
  width: 1rem;
} */

.primary-main .left .svg-container-bigger {
  fill: var(--clr-secondary-medium);
}
.primary-main .right {
  background-image: var(--clr-gradient);
  width: 100%;
  background-size: 100%;

  padding: 1rem;
  margin-left: 10%;
}

.primary-main .right .title-content {
  flex-direction: column;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.primary-main .right .title-content .title {
  text-transform: none;
  font-size: 4em;
  font-weight: 300;
  margin: 1.2rem;
}

.primary-main .right .title-content .subtitle {
  font-weight: 100;
  font-size: 1.575rem;
}

.primary-main .right .title-content .jobs {
  font-weight: 200;
  font-size: 1.125rem;
}
