:root {
  /* colors */
  --clr-bg-light: hsl(0, 0%, 100%);
  --clr-gradient: linear-gradient(90deg, hsl(246, 30%, 55%) 3.65%, hsl(199, 76%, 48%) 71.35%, hsl(191, 46%, 55%) 100%);
  --clr-secondary-light: hsl(191, 46%, 55%);
  --clr-secondary-medium: hsl(199, 76%, 48%);
  --clr-secondary-dark: hsl(246, 30%, 55%);
  --clr-primary-100: hsl(210, 48%, 61%);
  --clr-primary-200: hsl(210, 58%, 61%);

  --clr-primary-400: hsl(0, 0%, 47%);

  /* fonts */
  --f-primary: "Poppins";
}

/* ---------------------------
----------- General ----------
-----------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--f-primary);
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.flex-col {
  /* display: flex; */
  flex-direction: column;
}
.grid {
  display: grid;
  gap: var(--gap, 1rem);
}
body {
  position: relative;
  min-height: 100vh;
  width: 100%;
}
img {
  max-width: 100%;
  display: block;
}

button.nav-toggle {
  border: 0;
  background: none;
}

figure {
  margin: 0;
  padding: 0;
  background: #fff;
  width: 40px;
}

section {
  min-height: 100vh;
}

h2 {
  font-size: 3em;
  color: var(--clr-primary-100);
}
/* ---------------------------
----------- Body -------------
-----------------------------*/

/* ---------------------------
    ----------- NAV ----------
        -----------------------------*/
.primary-header {
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--clr-bg-light);
  box-shadow: -11px 11px 20px 0px black;
  height: 100%;

  /* inset: 0 80% 0 0; this is to say 0 top 75% from the right 0 bottom and left */
  padding: 0.575rem 1rem;
  width: 5em;
  transition: all ease 500ms;
  z-index: 1000;
}

/* when sidebar active / open we want that ... */
.primary-header.active {
  width: 15em;
}

.primary-header .logo-content {
  position: relative;
  align-items: center;
  height: 5rem;
  justify-content: center;
}

.primary-header .logo-content .svg-container-little,
.primary-header .logo-content .logo-name {
  display: none;
  transition: all 0.5s ease;
  /* pointer-events: none; */
}

.primary-header .logo-content .svg-container-little {
  fill: var(--clr-secondary-dark);
  width: 2rem;
}

.primary-header .logo-content .logo-name {
  color: var(--clr-secondary-dark);
}

.primary-header.active .logo-content .svg-container-little,
.primary-header.active .logo-content .logo-name {
  display: inline-block;
}

.primary-header .logo-content img {
  width: 30px;
  margin: 1rem;
}

.primary-header .logo-content .logo-name {
  font-weight: 900;
}

.primary-header.active li .tooltip {
  display: none;
}

.primary-header .nav-toggle::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0c9";
}

.primary-header .logo-content .nav-toggle {
  /* position: absolute;
  top: 50%;
  right: 0;
  left: 0; 
  transform: translateY(-50%);*/
  font-size: 1.25em;
  z-index: 9999;
  color: var(--clr-primary-100);
  transition: all 0.5s ease;

  /* width: 2rem;
  aspect-ratio: 1; */
  text-align: center;
  /* line-height: 50px; */

  cursor: pointer;
}

.primary-header.active .logo-content .nav-toggle {
  margin-left: 20%;
}

.primary-header .primary-navigation {
  z-index: 100;
  flex-direction: column;
  --gap: 2rem;
  list-style: none;
  margin-top: 1.25em;

  /* using it to push the profile to the bottom */
  flex-grow: 1;
}

.primary-header .primary-navigation li {
  position: relative;
  height: 3.125em;
  width: 100%;
  margin: 0.4rem 0;
}

.primary-header.active ul li .tooltip {
  display: none;
}

.primary-header .primary-navigation li .tooltip {
  background-color: #fff;
  position: absolute;
  top: -2rem;
  left: calc(100% + 1.5rem);
  transform: translateY(-50%);
  height: 2rem;
  width: calc(100% + 6rem);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.375em;
  line-height: 2rem;
  text-align: center;
  color: var(--clr-primary-100);
  opacity: 0;
  transition: 0s;
  pointer-events: none;
  display: block;
}

.primary-header .primary-navigation li:hover .tooltip {
  top: 50%;
  opacity: 1;
  transition: all 500ms ease;
}

.primary-header .primary-navigation li a {
  color: var(--clr-primary-100);
  text-decoration: none;
  align-items: center;
  transition: all 500ms ease;
  border-radius: 0.6rem;
  font-weight: 600;
  white-space: nowrap;

  --gap: 1rem;
}

.primary-header .primary-navigation li a:hover {
  color: #fff;
  background: var(--clr-primary-100);
}

.primary-header .primary-navigation .active-menu a {
  color: #fff;
  background: var(--clr-primary-100);
}

.primary-header .primary-navigation .active-menu a:hover {
}

.primary-header.active .primary-navigation li span {
  opacity: 1;
}
.primary-header .primary-navigation li span {
  opacity: 0;
  pointer-events: none;
}

.primary-navigation .icon::before {
  height: 3.125em;
  min-width: 3.125em;
  line-height: 3.125em;
  border-radius: 12px;
  text-align: center;
}
.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.accueil::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f015";
}
.profil::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f007";
}
.galerie::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f302";
}
.contact::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0e0";
}

.primary-header .primary-navigation li span[text] {
  opacity: 0;
}

/* bottom content of the navigation sidebar */
.primary-header.active .profile-content hr {
  opacity: 1;
  width: 100%;
  margin-bottom: 1rem;
}

.primary-header .profile-content {
  position: relative;
  align-items: center;
  justify-content: center;
  align-self: baseline;

  /* color: var(--clr-primary-400);
  width: 100%; */

  /* padding: 1rem 1.375rem; check padding on .profile something not right ? */
  /* background-color: var(--clr-bg-light);
  --gap: 1rem; */
}

.primary-header.active .profile-content .name {
  display: initial;
}

.profile-content .profile-photo img {
  width: clamp(3rem, 3vw, 3rem);
  object-fit: cover;
  border-radius: 12px;
  border: var(--clr-secondary-dark) solid 2px;
}

.primary-header.active .profile-content .profile-photo img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.profile-content .name {
  /* margin-left: 1em; */
  font-size: 0.9em;
  font-weight: 600;
  display: none;
  line-height: 1px;
  transition: opacity 3s;
}

/* ---------------------------
----------- MAIN -------------
-----------------------------*/
.primary-main {
  min-height: 100vh;
  position: relative;
  background-color: var(--clr-bg-light);
  width: calc(100% - 5em);
  left: 5em;
  top: 0;
  z-index: 2;
  transition: all ease 500ms;

  /* padding-left: 3rem; */
}
.primary-header.active ~ .primary-main {
  left: 15em;
  width: calc(100% - 15em);
}

/* @supports (scroll-snap-align: start) {
  main {
    scroll-snap-type: y proximity;
    height: 100vh;
    overflow-y: scroll;
  }
}
section {
  scroll-snap-align: start;
} */
/* ---------------------------
    ---------- Section home-------
        -----------------------------*/

.accueil-main {
  --gap: 0;
}
.accueil-main .left {
  width: 50%;
}
.left,
.right {
  place-items: center;
  /* height: 100vh; */
}

.accueil-main .left .svg-container-bigger {
  fill: var(--clr-secondary-medium);
}
.accueil-main .right {
  background-image: var(--clr-gradient);
  width: 100%;
  background-size: 100%;

  padding: 1rem;
  /* margin-left: 10%; */
}

.accueil-main .right .title-content {
  flex-direction: column;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.accueil-main .right .title-content .title {
  text-transform: none;
  font-size: 4em;
  font-weight: 300;
  margin: 1.2rem;
}

.accueil-main .right .title-content .subtitle {
  font-weight: 100;
  font-size: 1.575rem;
}

.accueil-main .right .title-content .jobs {
  font-weight: 200;
  font-size: 1.125rem;
}

/* ---------------------------
    -------- Section Profil ------
        -----------------------------*/

.profil-main {
  padding: 4rem;

  --gap: 2rem;
  grid-template-columns: 0.3fr 1fr 0.3fr 1fr;
  grid-template-rows: 0.1fr 0.2fr 0.3fr 1fr;
  grid-template-areas:
    "profil profil . .  "
    "banner banner banner banner"
    ". skills . references"
    ". skill . reference";
}
.profil-main h2 {
  grid-area: profil;
}

.profil-main h4 {
  color: var(--clr-primary-100);
}

.profil-main p {
  color: var(--clr-primary-400);
}

.profil-banner {
  grid-column: 3;
  grid-area: banner;
  align-items: center;
}
.quote-banner {
  position: relative;
  width: fit-content;
}
.quote-banner::after {
  content: "-Woohami";
  position: absolute;
  top: 100%;
  right: 0;
  font-size: 0.875em;
}

.skills-header {
  grid-area: skills;
}

.skills-animations,
.references-animations {
  height: 100%;
  min-height: 20vh;
}
.skills-animations {
  grid-area: skill;
  --gap: 0.5rem;
}

.skill {
  align-items: center;
  --gap: 2rem;
  cursor: pointer;
}

.skill-icon img {
  width: 100px;
  z-index: 99;
}

.skill-icon::before {
  width: 100px;
}

#ai::before {
  content: url("assets/logo_adobe_bleu_et_normal/ai_bleu\ \(100\).png");
}
#ai:hover::before {
  content: url("assets/logo_adobe_bleu_et_normal/ai_normal\ \(100\).png");
}
#ae::before {
  content: url("assets/logo_adobe_bleu_et_normal/ae_bleu\ \(100\).png");
}
#ae:hover::before {
  content: url("assets/logo_adobe_bleu_et_normal/ae_normal\ \(100\).png");
}
#pr::before {
  content: url("assets/logo_adobe_bleu_et_normal/pr_bleu\ \(100\).png");
}
#pr:hover::before {
  content: url("assets/logo_adobe_bleu_et_normal/pr_normal\ \(100\).png");
}
#ps::before {
  content: url("assets/logo_adobe_bleu_et_normal/ps_bleu\ \(100\).png");
}
#ps:hover::before {
  content: url("assets/logo_adobe_bleu_et_normal/ps_normal\ \(100\).png");
}

.skill-bar {
  position: relative;
  width: 23em;
  height: 3em;
  background-color: #111;
  border-radius: 1.5em;
  /* display: inline-block; */
}

.skill-bar::before {
  content: "";
  /* content: attr(data-label);
    display: flex;
    align-items: center; */

  position: absolute;
  left: 0.5em;
  top: 0.5em;
  bottom: 0.5em;
  /* width: calc(var(--skill-width, 0) * 1%); */
  min-width: 2rem;
  max-width: calc(100% - 1em);
  background-image: var(--clr-gradient);
  border-radius: 1em;
  padding: 1em;

  /* -webkit-animation-name: "progress";
  animation-name: "progress";
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear; */
  /* -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; */
}

/* @keyframes progress {
  0% {
    transform: translateX(1em);
  }

  50% {
    transform: translateX(10em;
  }
  100% {
    transform: translateX(23em);
  }
} */

/* Adobe Illustrator */
.skill:nth-child(1) .skill-bar::before {
  width: 89%;
}
/* Adobe After Effect */
.skill:nth-child(2) .skill-bar::before {
  width: 82%;
}
/* Adobe PR */
.skill:nth-child(3) .skill-bar::before {
  width: 65%;
}
/* Adobe Photo Shop */
.skill:nth-child(4) .skill-bar::before {
  width: 73%;
}

/* endleft side */

/* profil right side */
.references-header {
  grid-area: references;
}
.references-animations {
  grid-area: reference;
}

.reference-link {
  position: relative;
}

.reference-name::before {
  width: 100px;
  height: 100px;
  display: inline-block;
}
.reference-name:hover::before {
  /* transform: scale(1.05); */
}

.reference-name::after {
  content: "";
  display: block;
  width: fit-content;
  height: 10px;
  background: var(--clr-secondary-light);
}

.malt::before {
  content: url("assets/logo_profil/logo_malt_normalsq\ \(100\).png");
}

.malt:hover::before {
  content: url("assets/logo_profil/logo_malt_seul_bleu\ \(100\).png");
}

.graphiste::before {
  content: url("assets/logo_profil/logo_graphiste_normalsq\ \(100\).png");
}

.graphiste:hover::before {
  content: url("assets/logo_profil/g_graphiste_bleu\ \(100\).png");
}

.insta::before {
  content: url("assets/logo_profil/logo_insta_normalsq\ \(100\).png");
}

.insta:hover::before {
  content: url("assets/logo_profil/logo_insta_bleu\ \(100\).png");
}

.references-animations .reference-name img {
  height: 100px;
  display: inline-block;
}

/* ---------------------------
    --------Section Galerie ------
        -----------------------------*/

.galerie-main {
  min-height: 100vh;
  --gap: 1rem;
  padding-left: 4rem;
  grid-template-columns: repeat(2, 1fr);
}
.galerie-main .galerie-left p {
  padding-left: 2rem;
  color: var(--clr-primary-400);
}

.galerie-main .galerie-left h4 {
  padding-left: 4rem;
  color: var(--clr-primary-100);
}
.galerie-main .galerie-left .galerie-container {
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  padding-top: 4rem;
}

.galerie-item img {
  max-width: 100px;
  max-height: 200px;

  /* grayscale effect */
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.galerie-item:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  transform: scale(1.05);
}

.galerie-main .galerie-right {
  background-image: var(--clr-gradient);
}

/* ---------------------------
    -------- Section Contact ------
        -----------------------------*/

.contact-main {
  height: 100vh;
  position: relative;
}

.contact-container {
  padding-top: 4rem;
  justify-content: center;
  align-items: center;
}

.front {
  padding: 3rem;
  background-image: var(--clr-gradient);
  color: #fff;
  border-radius: 0.5em;

  box-shadow: 0px 10px 20px 5px #777777;
}

.contact-hr {
  border-top: solid 1px #fff;
  width: 80%;
  align-self: center;
}

.front p {
  line-height: 1em;
}

.contact-title {
  padding-left: 4rem;
}

.front-logo {
  width: 2rem;
  aspect-ratio: 1;
  fill: #fff;
}

button.send {
  width: fit-content;
  padding: 0.5rem 1rem;

  color: var(--clr-secondary-dark);
  background: #fff;
  border: 0;
  border-radius: 0.75em;
}

/* ---------------------------
    -------- Media Querries ------
        -----------------------------*/

@media screen and (max-width: 40em) {
  body {
    width: 100vw;
  }

  .primary-header {
    bottom: 0;

    height: 10vh;
    width: 100vw;

    flex-direction: row;
  }

  .primary-header .logo-content {
    display: none;
  }
  .primary-header .primary-navigation {
    display: flex;
    --gap: 0;
    margin-top: 0;
  }
  .primary-header .primary-navigation li {
    width: fit-content;
  }
}
